/* Original code created by Fendy Wijaya (2602092150) */

@import url('https://fonts.cdnfonts.com/css/lemonmilk');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cocogoose', sans-serif;
    font-weight: 100;
}

body {
    background-color: #f9f5ed;
    overflow-x: hidden;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 38px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}


/* Navigation Bar */

header {
    z-index: 9999999999999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 80px;
    background-color: #aed8b3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
}

#menu-list a {
    font-size: 1.4vw;
}

.logo-guarJIan {
    width: 50%;
}

.list-menu {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.navigation a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #201919;
    transition: 0.3s ease;
    background-color: #aed8b3;
}

.navigation a:hover, .navigation a.active {
    color: #00a095;
}

.navigation a.active::after, .navigation a:hover::after {
    background: #00a095;
    background-color: #aed8b3;
    width: 40%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


/* Promotion Page */

main {
    padding: 140px 25px;
    width: 100%;
    height: 100%;
}

#title {
    text-align: center;
    width: 100%;
}

.sebelum-diskon {
    text-decoration: line-through;
    font-size: 12px;
    color: #00a095;
}

.setelah-diskon {
    color: red;
}

.kotak-diskon {
    display: flex;
    width: 100%;
    justify-content: end;
}

.kotak-diskon h2 {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 9999;
    width: 80px;
    height: 80px;
    background-color: gold;
    border-radius: 150px;
    font-size: 32px;
}

#produk-detail {
    width: 100%;
    height: 100%;
}

.container-produk {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.main-inside {
    padding: 20px;
    text-align: center;
}

.main-box {
    border: 5px #ed9b91 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px;
    transition: 500ms;
}

.main-box:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.main-inside span {
    font-size: 15px;
}

#img-content {
    margin: -40px 20px 0 20px;
    object-fit: contain;
    width: 250px;
    height: 200px;
}

.beli-promosi {
    width: 50%;
    cursor: pointer;
    background-color: #00a095;
    border: #00a095;
    color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: 500ms ease-in-out;
    -webkit-transition: 500ms ease-in-out;
    -moz-transition: 500ms ease-in-out;
    -ms-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
}

.beli-promosi:hover {
    color: #fff;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.title-bawah {
    margin-top:5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-bawah button h1 a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.title-bawah button {
    transition: 500ms;
    cursor: pointer;
    width: 60%;
    border-radius: 60px;
    background-color: #00a095;
    border: #00a095;
}

.title-bawah button:hover, h1:hover {
    background-color: #004b46;
    border: #004b46;
    color: #fff;
    border-radius: 60px;
}


/* Footer */

footer {
    margin-top: 50px;
    padding: 20px 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aed8b3;
}

.follow-us {
    gap: 50px;
}

.hak-cipta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hak-cipta img {
    width: 200px;
    height: 100px;
    object-fit: contain;
}

#copyright {
    width: 100%;
    text-align: center;
}

.follow-logo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px; 
}

.follow-fb, .follow-ig, .follow-twitter {
    height: 30px;
    cursor: pointer;
}

.bantuan, .panduan {
    list-style-type: none;
    font-family: 'Cocogoose', sans-serif;
}

.hamburger {
    display: none;
}


/* Pengaturan halaman responsif */

@media (width <= 768px) {
    /* Hamburger menu */
    .list-menu {
        display: none;
    }

    .hamburger-down {
        display: flex;
        flex-direction: column;
        width: 50%;
        position: absolute;
        right: 0;
        top: 95px;
        text-align: center;
        background-color: #aed8b3;
        gap: 30px;
        padding-bottom: 20px;
    }

    #menu-list a {
        font-size: 20px;
    }

    .hamburger {
        display: flex;
        width: 100%;
        justify-content: end;
    }

    .hamburger img {
        width: 40px;
    }

    .container-produk {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        margin-top: 100px;
        margin-left: 7%;
    }
}